body {
   background: #CCCCCC;
}

#banner{
    width: 100%;
  
}

h1{
    text-align: center;
}

p {
       text-align: center;       
}

#beneficios{
       width: 50%;

}

em strong {
  color: blue;

